<div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="shadow">
                <div class="row">
                    <div class="col">
                        First Name:
                    </div>
                    <div class="col">
                        {{first_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Last Name:
                    </div>
                    <div class="col">
                        {{last_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Email:
                    </div>
                    <div class="col">
                        {{email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Gender:
                    </div>
                    <div class="col">
                        {{gender}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Salary:
                    </div>
                    <div class="col">
                        {{salary}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col text-center">
                        <button mat-raised-button color="primary" (click)="close(updateValue)">Close</button>
                    </div>
                </div>
            </mat-card>            
        </div>
    </div>
</div>