<div class="container mt-3">
  <div class="row">
    <div class="col">
      <mat-card class="shadow" style="background-color: #f2f2f2;">
        <mat-card-header style="background-color: #0073aa; color: #f2f2f2;"class="pt-3">
          <div class="row w-100">
            <div class="col">
              <h1 class="">Employee Details</h1>
            </div>
          </div>
        </mat-card-header>
        <div class="row mt-3">
            <div class="col text-end">
                <button mat-raised-button color="primary" (click)="add()">Add</button>
            </div>
        </div>
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. John"
            #input
          />
        </mat-form-field>

        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort class="w-100" style="background-color: #f2f2f2;">
            <!-- Progress Column -->
            <ng-container matColumnDef="first_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Firstname
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
                <div class="row w-100">
                  <div class="col d-lg-none"><span class="header-label">Firstname :</span></div>
                  <div class="col">{{ row.first_name }}</div>
                </div>
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="last_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</mat-header-cell>
              <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
                <div class="row w-100">
                  <div class="col d-lg-none"><span class="header-label">Lastname :</span></div>
                  <div class="col">{{ row.last_name }}</div>
                </div>
              </mat-cell>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="gender">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
              <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
                <div class="row w-100">
                  <div class="col d-lg-none"><span class="header-label">Gender :</span></div>
                  <div class="col">{{ row.gender }}</div>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
                  <div class="row w-100">
                    <div class="col d-lg-none"><span class="header-label">Email :</span></div>
                    <div class="col">{{ row.email }}</div>
                  </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="salary">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Salary</mat-header-cell>
                <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
                  <div class="row w-100">
                    <div class="col d-lg-none"><span class="header-label">Salary :</span></div>
                    <div class="col">{{ row.salary }}</div>
                  </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
                  <div class="row w-100">
                    <div class="col d-lg-none "><span class="header-label">Action :</span></div>
                    <div class="col">
                      <div class="row pt-3" style="width: max-content;">
                        <div class="col">
                            <mat-icon aria-hidden="false" style="color: orange; cursor: pointer;" aria-label="Example home icon" (click)="openDialog(row)">visibility</mat-icon>
                        </div>
                        <div class="col">
                            <mat-icon aria-hidden="false" style="cursor: pointer;" aria-label="Example home icon" (click)="edit(row)">create</mat-icon>
                        </div>
                        <div class="col">
                            <mat-icon aria-hidden="false" style="cursor: pointer;" class="text-danger" aria-label="Example home icon" (click)="delete(row)">delete</mat-icon>
                        </div>
                    </div>
                    </div>
                  </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr> -->
          </mat-table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>
