@media screen and (max-width: 960px) {
    .container{
        width: 85% !important;
    }
    p{
        font-size: 1.5rem;
    }
    mat-radio-group{
        padding-left: 1.7rem;
        font-size: 1.3rem;
    }
    button{
        height: 3.5rem;
        width: 10rem;
        font-size: 1.5rem;
    }
}