
<div class="container mt-4" style="width: 25%;">
    <div class="row">
        <div class="col">
            <mat-card class="shadow">
                <mat-card-header style="background-color: #0073aa; color: #f2f2f2;"class="pt-3">
                    <div class="row">
                        <div class="col">
                            <h1>Create New Employee</h1>
                        </div>
                    </div>
                </mat-card-header>
                <form [formGroup]="empForm" class="mt-3">
                    <div class="row">
                        <div class="col mt-4">
                            <p>First Name:</p>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <input matInput formControlName="first_name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <p>Last Name:</p>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <input matInput formControlName="last_name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <p>Email:</p>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="p-0 m-0">
                                <input matInput formControlName="email">
                            </mat-form-field>
                            <div *ngIf="email?.errors && email?.touched" class="p-0 m-0">
                                <p class="text-danger p-0 m-0">Please enter a 5 digit value</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5">
                            <p>Gender:</p>
                        </div>
                        <div class="col-7">
                            <mat-radio-group aria-label="Gender" formControlName="gender">
                                <mat-radio-button value="male" style="margin-right: 10%;">Male</mat-radio-button>
                                <mat-radio-button value="female">Female</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <p>Salary:</p>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <input matInput formControlName="salary" type="number">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col text-center">
                            <button mat-raised-button color="primary" (click)="create()" [disabled]="!empForm.valid">Add</button>
                        </div>
                    </div>
                </form>
            </mat-card>            
        </div>
    </div>
</div>