<div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="shadow">
                <div class="row">
                    <div class="col mt-4">
                        First Name:
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Input</mat-label> -->
                            <input matInput [(ngModel)]="first_name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        Last Name:
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Input</mat-label> -->
                            <input matInput [(ngModel)]="last_name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        Email:
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Input</mat-label> -->
                            <input matInput [(ngModel)]="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        Gender:
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Input</mat-label> -->
                            <input matInput [(ngModel)]="gender">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        Salary:
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Input</mat-label> -->
                            <input matInput [(ngModel)]="salary">
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col text-center">
                        <button mat-raised-button color="primary" (click)="update()">Update & Close</button>
                    </div>
                </div>
            </mat-card>            
        </div>
    </div>
</div>